.section-one {
    display: flex;
    min-height: 70vh;
    flex-wrap: wrap;
  
}

.section-one .left {
 
   width: 50%;
   padding-left: 5%;
}

.section-one .right {
    /* background-color: yellow; */
    width: 50%;
 }

 .section-one .right img {
    height: 400px;
 }

@media (max-width: 576px) {

    .section-one .left {
        /* background-color: green; */
        width: 100%;
        padding-left: 0%;
     }
     
     .section-one .right {
        
        display: flex;
         width: 100%;
      }

      .section-one .right img {
        height: 300px;
     }


    .cont {
        height: 50vh;
        background-color: green;
     }

    .sectOne {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
     
    }

    .sectOne .left {
        width: 100%;
    }

    .sectOne .left h5 {
        font-size: 25px;
      }

    .sectOne .right {
       
        width: 100%;
    }

    

    .sectOne .right img {
       
        height: 270px;
    }
}