// custom.scss
$primary: #4A90E2;
$secondary: #50E3C2;
$light: #ffffff;
$grey: #e5dfdf;

@keyframes moveDiv {
  0% { right: -5%; }
  // 50% { right: 200px; }
  100% { right: 0%; }
}

.body {
  overflow: hidden;
}
.form-control-outline {
    border: 2px solid var(--bs-primary); /* Use Bootstrap's primary color variable */
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control-outline:focus {
    border-color: var(--bs-primary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem #4a91e269; /* Primary color shadow */
  }

.slide-form {
  position: relative;
  animation: moveDiv 0.5s;
}

  @media (max-width: 576px) {
    .slide-form {
      position: relative;
      animation: moveDiv 0.5s;
    }

    .slide-form .card {
      // position: relative;
      animation: moveDiv 0.5s;
    }
    .niramit-regular {
      font-family: "Niramit", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .niramit-medium {
      font-family: "Niramit", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .niramit-semibold {
      font-family: "Niramit", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .niramit-bold {
      font-family: "Niramit", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    p {
      font-family: "Niramit", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    h5 {
      font-family: "Niramit", sans-serif;
      font-size: 18px;
      font-weight: 700;
      font-style: normal;
    }

    h3 {
      font-family: "Niramit", sans-serif;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
    }

    .card {
      width: 50px;
    }
}

// .available-services {
//   background-color: rgb(221, 0, 37)
// }


.available-services .service-holder {
  min-width: 90%;
  justify-content: space-evenly;
  // background-color: rgb(248, 65, 96)
}

.available-services .service-holder  {
  min-width: 90%;
  justify-content: space-evenly;
  // background-color: rgb(248, 65, 96)
}

.available-services .service-holder  .card-holder{
  min-width: 15%;
  justify-content: space-evenly;
  // background-color: rgb(65, 248, 108)
}

@media (max-width: 576px) {

// .available-services {
//   // background-color: pink
// }


}

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';